html {
    background-image: url("../images/site/checkerboard.jpg");
}

input:required:invalid,
input:focus:invalid {
    border-color: crimson;
}


/* Body Styles */

body {
    margin: auto;
    background-color: #ffffff;
}


/* Header Styles */

header {
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

.log {
    text-decoration: none;
    color: #3a3a3a;
    font-size: 10px;
    position: relative;
    margin-top: 5px;
    margin-right: 5px;
    grid-row: 1;
    grid-column: 1;
}

header img {
    width: 50%;
}


/* Navagation Styles */

nav {
    background-color: #3a3a3a;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav li {
    display: inline;
}

nav li a:hover {
    background-color: #4c96d7;
}

nav li a:hover {
    color: black;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 4px;
}


/* Main Content Styles */

main {
    background-color: #ffffff;
    border-bottom: 5px solid #3a3a3a;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display: grid;
}

.greeting h1,
.upgrades h2,
.reviews h2 {
    font-size: 18px;
}

.hero {
    display: grid;
}

.hero ul {
    list-style-type: none;
}

.hero li {
    color: #4c96d7;
    font-size: 18px;
    font-weight: bold;
}

.hero li:nth-child(1) {
    font-weight: 800;
}

.delorean_img {
    max-width: 100%;
    grid-row: 1;
    grid-column: 1/3;
    z-index: 0;
}

.hero ul {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    margin-left: 5px;
    margin-top: 0px;
    padding: 0;
}

.own {
    grid-row: 2;
    grid-column: 1/3;
    margin: auto;
    max-width: 40%;
    margin-top: 15px;
}

.upgrades {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 10% 40% 40%;
    text-align: center;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    grid-row: 2;
    margin-bottom: 15px;
}

.reviews {
    grid-row: 1;
    font-size: 13px;
}

.upgrade_header {
    grid-column: 1/3;
    grid-row: 1;
}

.flux {
    grid-column: 1;
    grid-row: 2;
}

.flame {
    grid-column: 2;
    grid-row: 2;
}

.bumper {
    grid-column: 1;
    grid-row: 3;
}

.hub {
    grid-column: 2;
    grid-row: 3;
}

.flux img,
.flame img,
.bumper img,
.hub img {
    background-color: #4c96d7;
    grid-row: 1;
    margin: auto;
    max-height: 100%;
}

.flux,
.flame,
.bumper,
.hub {
    display: grid;
    grid-template-rows: 80%;
}

.flux a,
.flame a,
.bumper a,
.hub a {
    grid-row: 2;
}

.images {
    background-color: #4c96d7;
    padding: 5px;
    border: 1px solid #3a3a3a;
}


/* Footer Styles */

footer {
    background-color: #ffffff;
    text-align: center;
    color: #3a3a3a;
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

footer p {
    margin: 0px;
}

.updated {
    display: none;
}

.login,
.register {
    margin-left: 1%;
}


/* .login input,
.submit,
.register input {
    margin-bottom: 10px;
} */

.submit {
    background-color: #4c96d7;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login label,
.register label {
    font-weight: 600;
}

.showPassword {
    background-color: #3a3a3a;
    color: white;
    padding: 10px;
    margin-top: 0px;
}

.register p {
    margin: 0px;
    font-size: 13px;
    font-weight: 600;
}

.carForm {
    margin-left: 25px;
}

.carForm input,
.carForm select {
    margin-bottom: 10px;
}

.classForm {
    margin-left: 25px;
}

.classForm input {
    margin-bottom: 10px;
}

.serverMessage {
    color: crimson;
    font-weight: bolder;
    margin-left: 25px;
}

#cookie {
    font-size: 10px;
    position: relative;
    text-decoration: none;
    color: #3a3a3a;
    grid-column: 1;
    grid-row: 2;
}

.welcome {
    display: grid;
    float: right;
    width: 40%;
    grid-template-columns: 100% 0;
    position: relative;
}

#inv-display {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#inv-display li {
    margin-bottom: .5em;
    border: 1px #ccc solid;
    list-style-type: none;
    flex: 1 1 auto;
}

#inv-display li img {
    max-width: 100%;
    margin-left: 25px;
}

#inv-display h2,
#inv-display span {
    margin-left: 25px;
}

.mnm {
    font-weight: bold;
    font-size: 20px;
}

#vInfo img {
    max-width: 100%;
}

.vTitle {
    font-weight: bold;
}

.vehicleTns {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 10px;
    text-align: center;
}

.vehicleTns img {
    width: 80%;
}

.imgMan select,
.imgMan label,
.imgMan input {
    margin: 10px;
}

.imgMan li {
    list-style-type: none;
}

.imgMan fieldset {
    margin: 10px;
}

.imgMan h2,
.imgMan p,
.imgMan h1 {
    margin-left: 10px;
}

.imgMan img {
    max-width: 90%;
}

.review {
    margin: auto;
    max-width: 95%;
    background-color: #4c96d7;
    padding: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.review p {
    background-color: white;
    font-size: 15px;
    font-weight: 500;
}

.review h3 {
    margin: 0;
    font-weight: 500;
}

.reviewForm {
    max-width: 95%;
    margin: auto;
    border: 3px solid black;
}

.reviewForm label,
#screenName,
.btn {
    margin-left: 25px;
}

#reviewText {
    margin-left: 25px;
    width: 70%;
}

.btn {
    background-color: #4c96d7;
    margin-bottom: 10px;
}

.reviewHead {
    margin-left: 20px;
}

.adminView {
    margin-left: 15px;
}

#inv-display a {
    text-decoration: none;
    color: black;
}

#inv-display a li:hover {
    border: 1px solid black;
}

.editRev,
.delRev {
    margin-left: 20px;
    margin-bottom: 10px;
}

.editRev textarea,
.delRev textarea {
    width: 95%;
}

@media (min-width: 800px) {
    /* Body Styles */
    body {
        width: 80%;
        margin-top: 20px;
        border: 5px solid #4c96d7;
        border-radius: 5px;
    }
    /* Header Styles */
    #cookie {
        font-size: 20px;
        left: 25px;
        grid-column: 1;
        bottom: 20px;
    }
    .log {
        text-decoration: none;
        color: #3a3a3a;
        font-size: 25px;
        float: right;
        bottom: 10px;
        margin-top: 20px;
        grid-column: 2;
        text-align: right;
    }
    header img {
        width: auto;
    }
    /* Navagation Styles */
    nav {
        font-size: 20px;
    }
    nav li:hover {
        background-color: #4c96d7;
        padding: 12px;
    }
    nav li a:hover {
        color: black;
    }
    nav a {
        padding: 10px;
        margin: 0px;
    }
    /* Main Content Styles */
    main {
        border-bottom: 5px solid #3a3a3a;
    }
    .greeting h1,
    .upgrades h2,
    .reviews h2 {
        font-size: 25px;
        text-align: left;
        margin-left: 7px;
    }
    .hero li {
        font-size: 19px;
        z-index: 2;
    }
    .hero ul {
        margin-left: 75px;
    }
    .own {
        grid-column: 1;
        grid-row: 2;
        z-index: 1;
        margin-left: 75px;
    }
    .delorean_img {
        grid-row: 1/4;
        grid-column: 1/3;
        z-index: 0;
        width: 100%;
    }
    .content {
        grid-template-columns: 45% 45%;
        grid-gap: 50px;
        margin-left: 5%;
        margin-bottom: 50px;
    }
    .reviews {
        grid-column: 2;
        grid-row: 1;
        font-size: 17px;
    }
    .reviews li {
        margin-top: 5px;
        color: #3a3a3a;
    }
    .upgrades {
        grid-column: 1;
        grid-row: 1;
        grid-template-rows: 20% 40% 40%;
    }
    /* Footer Styles */
    footer {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 17px;
    }
    .updated {
        display: block;
    }
    .welcome {
        width: 70%;
        max-height: 50px;
        grid-template-columns: 50% 50%;
    }
    #inv-display {
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    #inv-display h2 {
        font-size: 1rem;
    }
    #inv-display li {
        max-width: 200px;
        flex: 1 0 auto;
        text-align: center;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #inv-display div {
        width: 100%;
    }
    #vInfo {
        grid-row: 1;
        grid-column: 2;
        display: grid;
        grid-template-columns: 47% 47%;
        grid-column-gap: 3%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 10px;
        margin-top: 10px;
        border: 1px solid black;
    }
    .mnm {
        font-weight: bold;
        font-size: 20px;
        grid-row: 1;
        grid-column: span 2;
    }
    #vInfo img {
        grid-row: span 2;
        grid-column: 1;
        max-width: 100%;
    }
    .vTitle {
        font-weight: bold;
    }
    .vehicleTns {
        grid-row: 1;
        grid-column: 1;
        margin-left: 3%;
        margin-bottom: 10px;
        margin-top: 10px;
        border: 1px solid black;
        text-align: justify;
    }
    .vehicleTns img {
        margin-left: 5px;
        margin-right: 5px;
        width: auto;
    }
    .imgMan select,
    .imgMan label,
    .imgMan input {
        margin: 10px;
    }
    .imgMan li {
        list-style-type: none;
    }
    .imgMan fieldset {
        margin: 10px;
    }
    .imgMan h2,
    .imgMan p,
    .imgMan h1 {
        margin-left: 10px;
    }
    .vehiDisplay {
        display: grid;
        grid-template-columns: 230px auto;
    }
    .vehicleTns img:hover {
        position: sticky;
        transform: scale(1.5);
    }
    .image-display li {
        display: inline;
    }
    #reviewText {
        width: 95%;
    }
}